:root {
    --main-bg-color: #0A0F1C;
    
    --green-btn-color: #28a745;
    --blue-btn-color: #007BFF;
    --white-btn-color: #f8f9fa;
    --gray-btn-color: #646464;

    --black-char-color: #212529;
    --white-char-color: #f8f9fa;
    --red-char-color: #ff7878;
}

.rampart-one-regular {
  font-family: "Rampart One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--main-bg-color);
    color: var(--white-char-color);
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    touch-action: manipulation;
}

header {
    position: relative;
}

.title {
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
    flex: 4;
}

#back-btn {
    position: absolute;
    height: 50px;
    width: auto;
    top: 50%;
    /* left: 0; */
    transform: translate(0%, -50%);
}
@media screen and (max-width: 780px) {
    .title {
        font-size: 2em;
    }
    #back-btn {
        height: 30px;
    }
}
@media screen and (max-width: 500px) {
    .title {
        font-size: 1.5em;
    }
    #back-btn {
        height: 20px;
    }
}

#q-number {
    font-size: 5em;
    text-align: center;
    margin: 20px 0;
}

button, input, select {
    user-select: none;
}

#start-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: var(--green-btn-color);
    color: var(--white-char-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#start-button:hover {
    background-color: color-mix(in srgb, var(--green-btn-color), black 20%);
}
#start-button:active {
    background-color: color-mix(in srgb, var(--green-btn-color), black 30%);
}

#answer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#answer button {
    margin: 0 10px;
    padding: 20px 40px;
    font-size: 2em;
    background-color: var(--blue-btn-color);
    color: var(--white-char-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#answer button:hover {
    background-color: color-mix(in srgb, var(--blue-btn-color), black 20%);
}
#answer button:active {
    background-color: color-mix(in srgb, var(--blue-btn-color), black 30%);
}

#index {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 1.5em;
    background-color: var(--white-btn-color);
    color: var(--black-char-color);
    border: 1px solid color-mix(in srgb, var(--white-btn-color), black 20%);
    border-radius: 5px;
}
#index:hover {
    background-color: color-mix(in srgb, var(--white-btn-color), black 10%);
}

#next-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: var(--blue-btn-color);
    color: var(--white-char-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#next-button:hover {
    background-color: color-mix(in srgb, var(--blue-btn-color), black 20%);
}
#next-button:active {
    background-color: color-mix(in srgb, var(--blue-btn-color), black 30%);
}

#correct-answer {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}
#correct-answer-value {
    font-weight: bold;
}
.ans-svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.ans-svg.selected-ans {
    display: block;
}

#reset-button {
    display: block;
    margin: 20px auto;
    padding: 8px 20px;
    font-size: 0.8em;
    background-color: var(--gray-btn-color);
    color: var(--white-char-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#results {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#results span {
    font-size: 1em;
    margin: 0 10px;
}
@media screen and (max-width: 350px) {
    #results span {
        font-size: 0.8em;
        margin: 0 5px;
    }
    
}

#timer {
    font-size:1.5em;
    text-align:center;
    color: var(--red-char-color);
}
#timer.working {
    color: var(--white-char-color)
}

#binary .highlight {
    color: var(--red-char-color);
}


.hidden {
    display: none !important;
}