:root {
    --main-bg-color: #0A0F1C;
    
    --green-btn-color: #28a745;
    --blue-btn-color: #007BFF;
    --white-btn-color: #f8f9fa;

    --black-char-color: #212529;
    --white-char-color: #f8f9fa;
}

body {
    background-color: var(--main-bg-color);
    color: var(--white-char-color);
}

.title {
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
}

#q-number {
    font-size: 5em;
    text-align: center;
    margin-top: 20px;
}

#start-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: var(--green-btn-color);
    color: var(--white-char-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#start-button:hover {
    background-color: color-mix(in srgb, var(--green-btn-color), black 20%);
}
#start-button:active {
    background-color: color-mix(in srgb, var(--green-btn-color), black 30%);
}

#answer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#answer button {
    margin: 0 10px;
    padding: 20px 40px;
    font-size: 2em;
    background-color: var(--blue-btn-color);
    color: var(--white-char-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#answer button:hover {
    background-color: color-mix(in srgb, var(--blue-btn-color), black 20%);
}
#answer button:active {
    background-color: color-mix(in srgb, var(--blue-btn-color), black 30%);
}

#difficulty {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 1.5em;
    background-color: var(--white-btn-color);
    color: var(--black-char-color);
    border: 1px solid color-mix(in srgb, var(--white-btn-color), black 20%);
    border-radius: 5px;
}
#difficulty:hover {
    background-color: color-mix(in srgb, var(--white-btn-color), black 10%);
}

#next-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: var(--blue-btn-color);
    color: var(--white-char-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#next-button:hover {
    background-color: color-mix(in srgb, var(--blue-btn-color), black 20%);
}
#next-button:active {
    background-color: color-mix(in srgb, var(--blue-btn-color), black 30%);
}

#correct-answer {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}
#correct-answer-value {
    font-weight: bold;
}
svg {
    position: relative;
    left: 50%;
    transform: translate(-50%, -120%);
    display: none;
}
svg.selected-ans {
    display: block;
}



.hidden {
    display: none !important;
}